html,
body {
    background-color: darkgrey;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-grow: 1;
}

main > * {
    justify-content: center;
    align-items: center;
}

.ul-horizontal {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ul-horizontal li {
    margin: 0.3em;
    padding: 0.3em;
    background: cornflowerblue;
    border-radius: 1em;
}

.game {
    align-self: stretch;
    /*width: clamp(60vw, 80vw, 90vw);*/
    /*height: clamp(30vh, 70vh, 80vh);*/
    margin: 1em;
    padding: 1em;
    background: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    /*min-width: 500px;*/
    /*min-height: 500px;*/
    min-width: fit-content;
    min-height: fit-content;
    /*max-width: 800px;*/
    /*max-height: 600px;*/
}

/* Center column */
.top {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.2em;
    margin: 0.5em;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.player {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.2em;
    margin: 0.5em;
    justify-content: flex-end;
    outline: 1px solid black;
    border-radius: 1em;
    background: paleturquoise;
}

/**/

.game-info-container {
    outline: 1px solid black;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
}

.game-info {
    outline: black;
    height: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-txt {
    background: orange;
    margin: 0.1em;
    padding: 0.1em;
    border-radius: 0.2em;
}

.info-val {
}

.player-info {
    text-align: center;
}

.player-cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5em;
}

.card {
    outline: 1px solid black;
    border-radius: 0.2em;
}

.player-card {
    width: 3em;
    height: 4em;
    background: dodgerblue;
    margin: 0.1em;
    text-align: center;
}

.player-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}

.center-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.other-player-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    outline: 1px solid black;
    border-radius: 1em;
    background: lightgrey;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin: 0.2em;
    padding: 0.2em;
}

.other-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.other-player-navn {
    margin: 0.2em;
    background: cornflowerblue;
    border-radius: 1em;
    align-self: stretch;
    text-align: center;
}

#left-player-bar .other-player {
    /*justify-content: flex-start;*/
}

#right-player-bar .other-player {
    /*justify-content: flex-end;*/
}

.other-cardContainer {
    display: flex;
    flex-direction: row;
    /*width: fit-content;*/
    /*height: fit-content;*/
    margin: 0.2em;
}

.other-card {
    width: 1.5em;
    height: 2em;
    margin: 0.1em;
}

.board-cardContainer {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin: 0.2em;
    justify-content: center;
}

.board-card {
    width: 3em;
    height: 4em;
    background: darkgrey;
    margin: 0.1em;
    text-align: center;
}

.flipped {
    background: green;
}

.hidden {
    display: none;
}

.status-done {
    background: green;
}

.status-fold {
    background: red;
}

.status-waiting {
    background: chocolate;
}

.status-allin {
    background: dodgerblue;
}

.value {}

.symbol {
    font-size: 1.5em;
}
